a {
    text-decoration : none;
    color: white;
}

a:hover,
a:active {
    color: cadetblue;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-white {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer1 {
    cursor: pointer;
}