<div fxLayout.lg="row" fxLayout="column" fxLayoutAlign="center center">    
        <div fxFlex.gt-sm= 90  fxLayoutAlign.gt-sm="center">
            <h1 class="padding-top-10px">
                {{userData.firstName}} {{userData.lastName}} : {{ userData.userId }}
            </h1>
        </div>
        <div fxFlex.gt-sm= 10 fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button 
                    type="button" 
                    color="primary"
                    class="legend-button"
                    (click)="openBottomLegendSheet()"
                    >Show Legend
            </button>
        </div>             
</div>                       
<div fxLayoutAlign="center center" fxLayout="column" class="padding-top-30" fxLayoutGap="10px"> 
    <div *ngFor="let inputSkillType of skillTypes">
        <mat-accordion>
            <mat-expansion-panel fxFlex.lg="1000px"
                                 fxFlex.md="750px"
                                 fxFlex.sm="550px"
                                 fxFlex.lt-sm="320px">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{inputSkillType}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-profile-card [inputSkillType]=inputSkillType
                                  fxFlex.lg="900px" fxFlex="auto"></app-profile-card>
            </mat-expansion-panel>    
        </mat-accordion>
    </div>  
</div>
