 
    <mat-card style="height: 450px; width: 375px;">
        <mat-card-header>
            <mat-card-title>
                {{inputSkillType}}
            </mat-card-title>
            <mat-card-subtitle>
                {{cardSubtitle}}
            </mat-card-subtitle>
            <div fxFlex
                 fxLayout
                 fxLayoutAlign="flex-end">
                <button mat-fab color="primary"
                        matTooltip="Edit Skill"
                        matTooltipPosition = "right"
                        (click)="onEditClick(qpVariable)"
                >  
                <mat-icon>edit</mat-icon>
                </button> 
            </div>       
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <h3>Team :  <span> {{userData.team}}</span></h3>
            <h3>Skills : </h3>
            <div *ngIf = "userSkillsArray === undefined">
                <h4>You can add skills by clicking the <em>Edit Skill</em> button</h4>    
            </div>
            <div *ngIf="chartOptions">
                <highcharts-chart 
                    [Highcharts]="Highcharts"
                    [options]="chartOptions"
                    style= "display: flex;"
                ></highcharts-chart>
            </div> 
        </mat-card-content>
    </mat-card>
