<section fxLayout fxLayoutAlign="center" style="padding-top: 30px;">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
        <mat-card-header>
        <mat-card-title>
            {{userData.firstName}} {{userData.lastName}}
        </mat-card-title>
        <mat-card-subtitle>
            <div [innerHTML]="userData.userId"></div>
        </mat-card-subtitle>
        </mat-card-header>
        <h4>**You can edit the details below**</h4>
        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="example-section">
                    <mat-label>Team :</mat-label>
                    <mat-form-field style="margin: 15px; width: 85px;">  
                        <mat-select  formControlName="team">
                            <mat-option *ngFor="let fteam of availableTeams" [value]="fteam.value">
                                {{fteam.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.team.errors?.required && f.team.touched">
                            Please select a Team    
                        </mat-error>
                    </mat-form-field>
                </div>
                <div formArrayName="skills" *ngFor="let skill of skillControls; let i = index">
                    <div [formGroupName]="i" class="example-section">     
                        <mat-form-field style="width: 120px;">
                           <mat-label>Skill :</mat-label>
                            <mat-select  formControlName="skillName">
                                <mat-option *ngFor="let fskill of availableSkills" [value]="fskill.name">
                                   {{fskill.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="skill.get('skillName').hasError('required') && skill.get('skillName').touched">
                                Please select a skill    
                            </mat-error>
                        </mat-form-field>
                        <button mat-mini-fab
                                type="button"
                                color="warn"
                                style="display: table-cell; margin-left: 100px;"
                                *ngIf="sFArray.length > 1"
                                matTooltip="Delete Skill"
                                matTooltipPosition="after"
                                (click)="removeFormSkill(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <div class="example-section">
                            <div>
                            <mat-label>Skill Level:</mat-label>
                            <mat-slider
                                    max="100"
                                    min="0"
                                    step="1"
                                    thumbLabel
                                    formControlName="skillLevel"
                                    style="margin: 3px; width: 60px;">
                            </mat-slider>
                            <span>{{skill.get('skillLevel').value}} / 100</span>
                            <mat-error *ngIf="skill.get('skillLevel').hasError('required') && skill.get('skillLevel').touched">
                                Please provide a skill level    
                            </mat-error>
                            </div>
                        </div> 
                        <hr>
                    </div>
                </div>    
                <button mat-raised-button 
                    type="button" 
                    color="primary"
                    [disabled]="profileForm.get('skills').invalid"
                    (click)="onAddSkill()">
                     Add Skill</button>
                <br>    
                <div fxLayout="column" fxLayoutAlign="center center">         
                <button mat-raised-button 
                        type="submit" 
                        color="primary"
                        style="margin-top: 10px;"
                        [disabled]="profileForm.invalid">Save data</button>
                </div>                      
            </form>
        </mat-card-content>
    </mat-card>
</section>
