.example-section {
    display: table-cell;
    align-content: center;
    align-items: center;
    height: 60px;
  }

.height-35 {
  height: 35px;
}  

.team-field {
  margin: 15px; 
  width: 85px;
}

.width-120 {
  width: 120px;
}

.minifab-style {
  display: table-cell; 
  margin-left: 100px;
}

.slider-style {
  margin: 3px; 
  width: 60px;
}

.margin-top-10 {
  margin-top: 10px;
}