<mat-tab-group>
    <mat-tab label="Edit Your Profile"> 
        <section fxLayout fxLayoutAlign="center">
            <mat-card fxFlex="400px" fxFlex.xs="100%">
                <mat-card-header>
                <mat-card-title>
                    {{userData.firstName}} {{userData.lastName}}
                </mat-card-title>
                <mat-card-subtitle>
                    <div [innerHTML]="userData.userId"></div>
                </mat-card-subtitle>
                <div fxFlex
                     fxLayout
                     fxLayoutAlign="flex-end">
                    <button mat-raised-button 
                            type="button" 
                            color="primary"
                            class="height-35"
                            (click)="openBottomLegendSheet()"
                    >Show Legend</button>
                </div>        
                </mat-card-header>
                <h4>**You can edit the details below**</h4>
                <mat-card-content>
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div class="example-section">
                            <mat-label>Team :</mat-label>
                            <mat-form-field class="team-field">  
                                <mat-select  formControlName="team">
                                    <mat-option *ngFor="let fteam of availableTeams" [value]="fteam.value">
                                        {{fteam.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formControl.team.errors?.required && formControl.team.touched">
                                    Please select a Team    
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- This below piece of code is for Generic Skills -->
                        <div *ngIf="typeToEdit === 'genericSkills'">
                            <div formArrayName="genericSkills"  
                                *ngFor="let skill of getSkillControls('genericSkills'); let i = index">
                                <div [formGroupName]="i" class="example-section">     
                                    <mat-form-field class="width-120">
                                    <mat-label>Generic Skill :</mat-label>
                                        <mat-select  formControlName="skillName">
                                            <mat-option *ngFor="let fskill of availableGenericSkills" [value]="fskill.name">
                                            {{fskill.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="skill.get('skillName').hasError('required') && skill.get('skillName').touched">
                                            Please select a Generic skill    
                                        </mat-error>
                                        <mat-error *ngIf="skill.get('skillName').hasError('duplicateValue') && skill.get('skillName').touched">
                                            You have selected a duplicate skill    
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-mini-fab
                                            type="button"
                                            color="warn"
                                            class="minifab-style"
                                            *ngIf="getFormArrayLength('genericSkills').length > 1"
                                            matTooltip="Delete Skill"
                                            matTooltipPosition="after"
                                            (click)="removeSkill(i,'genericSkills')">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <div class="example-section">
                                        <div>
                                        <mat-label>Skill Level:</mat-label>
                                        <mat-slider
                                                max="8"
                                                min="4"
                                                step="1"
                                                thumbLabel
                                                formControlName="skillLevel"
                                                class="slider-style">
                                        </mat-slider>
                                        <span>{{skill.get('skillLevel').value}} / {{maxSkillValue}}</span>
                                        <mat-error *ngIf="skill.get('skillLevel').hasError('required') && skill.get('skillLevel').touched">
                                            Please provide a Generic skill level    
                                        </mat-error>
                                        </div>
                                    </div> 
                                    <hr>
                                </div>
                            </div>    
                            <button mat-raised-button 
                                type="button" 
                                color="primary"
                                [disabled]="profileForm.get('genericSkills').invalid"
                                (click)="onAddSkill('genericSkills')">
                                Add a Generic skill
                            </button>
                        </div>
                        <br>    
                        <!-- This below piece of code is for Domain Skills -->
                        <br>
                        <div *ngIf="typeToEdit === 'domainSkills'">
                            <div formArrayName="domainSkills"
                                *ngFor="let skill of getSkillControls('domainSkills'); let i = index">
                                <div [formGroupName]="i" class="example-section">     
                                    <mat-form-field class="width-120">
                                    <mat-label>Domain Skill :</mat-label>
                                        <mat-select  formControlName="skillName">
                                            <mat-option *ngFor="let fskill of availableDomainSkills" [value]="fskill.name">
                                            {{fskill.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="skill.get('skillName').hasError('required') && skill.get('skillName').touched">
                                            Please select a Domain skill    
                                        </mat-error>
                                        <mat-error *ngIf="skill.get('skillName').hasError('duplicateValue') && skill.get('skillName').touched">
                                            You have selected a duplicate skill    
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-mini-fab
                                            type="button"
                                            color="warn"
                                            class="minifab-style"
                                            *ngIf="getFormArrayLength('domainSkills').length > 1"
                                            matTooltip="Delete Skill"
                                            matTooltipPosition="after"
                                            (click)="removeSkill(i,'domainSkills')">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <div class="example-section">
                                        <div>
                                        <mat-label>Skill Level:</mat-label>
                                        <mat-slider
                                                max="8"
                                                min="4"
                                                step="1"
                                                thumbLabel
                                                formControlName="skillLevel"
                                                class="slider-style">
                                        </mat-slider>
                                        <span>{{skill.get('skillLevel').value}} / {{maxSkillValue}}</span>
                                        <mat-error *ngIf="skill.get('skillLevel').hasError('required') && skill.get('skillLevel').touched">
                                            Please provide a Domain skill level    
                                        </mat-error>
                                        </div>
                                    </div> 
                                    <hr>
                                </div>
                            </div>    
                            <button mat-raised-button 
                                type="button" 
                                color="primary"
                                [disabled]="profileForm.get('domainSkills').invalid"
                                (click)="onAddSkill('domainSkills')">
                                Add a Domain skill</button>
                            <br>    
                        </div>
                        <!-- This below piece of code is for KBC Skills -->
                        <br>
                        <div *ngIf="typeToEdit === 'kbcSkills'">
                            <div formArrayName="kbcSkills"
                                *ngFor="let skill of getSkillControls('kbcSkills'); let i = index">
                                <div [formGroupName]="i" class="example-section">     
                                    <mat-form-field class="width-120">
                                    <mat-label>KBC Skill :</mat-label>
                                        <mat-select  formControlName="skillName">
                                            <mat-option *ngFor="let fskill of availableKbcSkills" [value]="fskill.name">
                                            {{fskill.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="skill.get('skillName').hasError('required') && skill.get('skillName').touched">
                                            Please select a KBC skill    
                                        </mat-error>
                                        <mat-error *ngIf="skill.get('skillName').hasError('duplicateValue') && skill.get('skillName').touched">
                                            You have selected a duplicate skill    
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-mini-fab
                                            type="button"
                                            color="warn"
                                            class="minifab-style"
                                            *ngIf="getFormArrayLength('kbcSkills').length > 1"
                                            matTooltip="Delete Skill"
                                            matTooltipPosition="after"
                                            (click)="removeSkill(i,'kbcSkills')">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <div class="example-section">
                                        <div>
                                        <mat-label>Skill Level:</mat-label>
                                        <mat-slider
                                                max="8"
                                                min="4"
                                                step="1"
                                                thumbLabel
                                                formControlName="skillLevel"
                                                class="slider-style">
                                        </mat-slider>
                                        <span>{{skill.get('skillLevel').value}} / {{maxSkillValue}}</span>
                                        <mat-error *ngIf="skill.get('skillLevel').hasError('required') && skill.get('skillLevel').touched">
                                            Please provide a KBC skill level    
                                        </mat-error>
                                        </div>
                                    </div> 
                                    <hr>
                                </div>
                            </div>    
                            <button mat-raised-button 
                                type="button" 
                                color="primary"
                                [disabled]="profileForm.get('kbcSkills').invalid"
                                (click)="onAddSkill('kbcSkills')">
                                Add a KBC skill</button>
                        </div>    
                        <div fxLayout="column" fxLayoutAlign="center center">         
                        <button mat-raised-button 
                                type="submit" 
                                color="primary"
                                class="margin-top-10px"
                                [disabled]="profileForm.invalid">Save data</button>
                        </div>                      
                    </form>
                </mat-card-content>
            </mat-card>
        </section>
    </mat-tab>
</mat-tab-group>